<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>firepad-element Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="firepad-element.html">

</head>
<body unresolved>

  <h3> Live Editor</h3>
  <firepad-element location="https://resplendent-fire-1806.firebaseio.com/demo"
                   font="monaco" linewrapping linenumbers
                   style="height: 200px;">
  </firepad-element>


  <h3> Read-only Mirror</h3>
  <firepad-element location="https://resplendent-fire-1806.firebaseio.com/demo"
                   linewrapping readonly
                   style="height: 200px; border: 5px #DDD solid; margin-top: 10px">
  </firepad-element>

</body>
</html>
